<div class="jumbotron">
  <h1>Learn your smells</h1>
  <p class="lead">
    And become a better programer...
    
  </p>
  <p>

  <br/>

<form role="form">
  <div class="form-group" >
    <label for="email">Pseudo:</label>
    <input type="text" class="form-control" ng-model="player.pseudo" />
  </div>
 </form>
</p>
<br/>


   <a class="btn btn-lg btn-success" ng-click="startGame()">Start playing <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Code smells</h4>
  <p>
    Code Smells go beyond vague programming principles by capturing industry wisdom about how not to design code. One of the nice things about smells is that it's easy for inexperienced people to spot them, even if they don't know enough to evaluate if there's a real problem or to correct them. 
  </p>
</div>
